#comment-1 {
    display: none;
}
#comment-2 {
    display: none;
}
#comment-3 {
    display: none;
}
#comment-4 {
    display: none;
}
#comment-5 {
    display: none;
}
#comment-6 {
    display: none;
}
